{% extends 'blog/base.html'%}
{% load staticfiles %}

<head>
{%block title_block%}The Blog Homepage{%endblock%}
</head>
{%block content%}

<div class="container">
  <h6>Trending on Medium</h6>
  <div class="row">
    <div class="col-md-6">
      {%if tag %}
      <h4>Post tagged with {{tag.name}}</h4>
      {%endif%}
      {% for post in post_list%}
      <p>{{post.author}}</p> 
      <a href="{{post.get_absolute_url}}"><h5>{{post.title}}</h5></a>
        <p id="date">{{post.publish|linebreaks}} </p>
     
          Tags:{%for tag in post.tags.all%}

<a href="{%url 'post_list_by_tag_name' tag.slug%}" class="btn btn-primary">{{tag.name}}</a>
<!--{%if not forloop.last%},{%endif%}
{%endfor%}-->
</p>
{{post.body|truncatewords:30|linebreaks}}
{%endfor%}

{% include 'blog/pagination.html' with page=post_list %}

{% endblock %}
</div>
</div>
</div>
<body>



